body {
	background-image: url("https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?cs=srgb&dl=pexels-%C3%A1kos-szab%C3%B3-440731.jpg&fm=jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
   height: auto;

}
.clouds {
	display: inline-block;
	margin-left: 2.5px;
	margin-right: 2.5px;
	position: relative;
}
.sun {
	width: 105px;
	height: 105px;
	animation: sun 5s linear infinite ;
}
.cloud1 {
	width: 250px;
	height: 132px;
	animation: cloud1 15s linear infinite;
	transition-timing-function: ease;
	position: absolute;

}
.cloud2 {
	width: 250px;
	height: 132px;
	animation: cloud2 15s linear infinite reverse;
	transition-timing-function: ease;
	position: absolute;
}
.cloud3 {
	width: 250px;
	height: 132px;
	animation: cloud3 8s linear infinite;
	transition-timing-function: ease;
	position: absolute;
}
.birds {
	width: 512px;
	height: 227px;
	animation: birds 8s linear infinite;
	transition-timing-function: ease;
	position: absolute;
}
.jump {
/*	display: inline-block;*/
	margin-left: 2.5px;
	margin-right: 2.5px;
	position: relative;

}
.plane {
	width: 408px;
	height: 408px;
	position: absolute;
	animation: plane 15s linear infinite reverse;
	transition-timing-function: ease;
	display: inline-block;
}
.man1 {
	width: 27px;
	height: 35px;
	position: absolute;
	z-index: 99;
	left: 1037px;
    top: 355px;
    animation: man1 3s linear infinite;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    opacity: 0;
    animation-delay: 5s;
}
.man2 {
	
	width: 27px;
	height: 35px;
	position: absolute;
	z-index: 99;
	left: 1437px;
    top: 205px;
    animation: man2 5s linear infinite;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    opacity: 0;
}
.man3 {
	width: 34px;
	height: 98px;
	position: absolute;
	z-index: 99;
	left: 1037px;
    top: 355px;
    animation: man3 2s linear infinite;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    opacity: 0;
    animation-delay: 8s;
}
.plane:hover + .man2 {
  opacity: 1;
}

